.App {
  min-height: 100vh;
  background-image: url(https://i.pinimg.com/originals/14/5e/ba/145ebaaf8d9fe6705cf82d8986359ac5.jpg);
}

.search-form {
  min-height: 10vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.search-bar {
  width: 50%;
  border: none;
  padding: 10px;
}

.search-button{
  background: lightcoral;
  border: none;
  padding: 10px 20px;
  color: white;
}

.recipes {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

